<section class="card-box-content">
    <form [formGroup]="pesquisaForm">
        <div class="form-group mt-3">
            <div class="form-group row">
                <label for="cnpj" class="col-4 col-form-label">CNPJ:</label>
                <div class="col-6">
                    <input class="form-control text-uppercase" [textMask]="maskFactory.createCnpj()" formControlName="cnpj" type="text" id="cnpj">
                    <div class="mt-1 text-danger" *ngIf="pesquisaForm.cnpj.touched && pesquisaForm.cnpj.errors">
                        {{ pesquisaForm.getFirstErrorFrom('cnpj','CNPJ') }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="numeroRegistro" class="col-4 col-form-label">Número de registro:</label>
                <div class="col-6">
                    <input class="form-control text-uppercase" formControlName="numeroRegistro" type="text" id="numeroRegistro">
                    <div class="mt-1 text-danger" *ngIf="pesquisaForm.numeroRegistro.touched && pesquisaForm.numeroRegistro.errors">
                        {{ pesquisaForm.getFirstErrorFrom('numeroRegistro','Número de Registro') }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="nomeEmpresarial" class="col-4 col-form-label">Número empresarial:</label>
                <div class="col-6">
                    <input class="form-control text-uppercase" formControlName="nomeEmpresarial" type="text" id="nomeEmpresarial">
                    <div class="mt-1 text-danger" *ngIf="pesquisaForm.nomeEmpresarial.touched && pesquisaForm.nomeEmpresarial.errors">
                        {{ pesquisaForm.getFirstErrorFrom('nomeEmpresarial','Número empresarial') }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="cpfMembroQsa" class="col-4 col-form-label">CPF:</label>
                <div class="col-6">
                    <input class="form-control text-uppercase" [textMask]="maskFactory.createCpf()" formControlName="cpfMembroQsa" type="text" id="cpfMembroQsa">
                    <div class="mt-1 text-danger" *ngIf="pesquisaForm.cpfMembroQsa.touched && pesquisaForm.cpfMembroQsa.errors">
                        {{ pesquisaForm.getFirstErrorFrom('numeroRegistro','CPF') }}
                    </div>
                </div>
            </div>
        </div>
      </form>
</section>
