<section class="main-content-block">
  <div class="content-block">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <p>
        visualizar works!
      </p>
    </div>
  </div>
</section>
