<app-processos-oficios-form>
</app-processos-oficios-form>

<!-- <button (click)="rota()" class="btn btn-primary">Teste</button> -->

<vox-grid
    conteudo="processos"
    [columnDefs]="colunasGrid"
    [mainDataSource]="dadosGrid"
    (rowClicked)="onRowClicked($event)"
    (gridUpdate)="onGridUpdate($event)">
</vox-grid>

