<main class="container container-base">

  <lib-header
    [sistema]="sistema"
    [usuario]="usuario"
    [logoEntidade]="urlLogoVox"
    [logout]="urlLogout"
    [logoSistema]="urlLogoSistema"
    [horario]="dataSistema">
  </lib-header>

  <main class="container container-base">
    <div class="row">
      <aside class="col-md-3">
        <lib-menu
          [modulos]="itensMenu"
          (funcionalidadeAtual)="getFuncionalidadeAtual($event)">
        </lib-menu>
      </aside>
      <section class="col-9 content-app">
        <router-outlet></router-outlet>
      </section>
    </div>
  </main>
